.user-list{
  margin: 50px auto;
  display: table;
  padding: 0;
  width: 1000px;

}

.user-list li{
  list-style-type: none;
  margin-bottom: 20px;
  padding: 30px;
}

.user-list li:hover{
  box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.4);
  transition: .5s all;
  cursor: pointer;
}

.user-list li h2{
  margin-top: 0;
  margin-bottom: 5px;
}
