body{
  background-color: rgba(108,162,205,.3);
}

.show-success{
  background-color: rgba(3,152,83);
  height: 50px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  display: flex;
  margin: 0 auto;
  width: 360px;
  align-items: center;
  justify-content: center;
}

.hidden{
  display: none;
}

.user-list{
  margin: 50px auto;
  display: table;
  padding: 0;
  width: 1000px;
}

.about-post{
  margin: 50px auto;
  display: table;
  width: 1000px;
  padding: 30px;
  border: 1px solid rgba(108,162,205,.5);

}

.user-list li{
  list-style-type: none;
  margin-bottom: 20px;
  border: 1px solid rgba(108,162,205,.5);
}

.user-list li:hover{
  box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.4);
  transition: .5s all;
  cursor: pointer;
}

.user-list li h2{
  margin-top: 0;
  margin-bottom: 5px;
}

.user-list li a{
  padding: 30px;
  display: block;
  text-decoration: none;
  color: #000;
}

.router-list{
  display: table;
  padding: 0;
  margin: 20px auto;
}

.router-list li{
  list-style-type: none;
  display: inline-block;
  margin: 20px;
}

.router-list li .nav-link{
  height: 40px;
  font-size: 18px;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #55A9F2;
  text-decoration: none;
  font-weight: bold;
}

.add-form{
  width: 300px;
  display: table;
  margin: 100px auto 15px auto;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px;
  position: relative;
}

.add-form button{
  height: 48px;
  font-size: 18px;
  color: #ffffff;
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #55A9F2;
  font-weight: bold;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.add-form button:hover{
  opacity: .9;
  transition: .5s all;
}

.add-form button:focus{
  outline: none;
}

.add-form .form-group input:focus{
   outline: none;
 }

.add-form .form-group{
  margin-bottom: 15px;
  position: relative;
}

.add-form .form-group label{
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}


.add-form .form-group input{
  color: #000;
  font-size: 16px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  width: 100%;
}




.loader {
  color: #ffffff;
  font-size: 16px;
  text-indent: -9999em;
  overflow: hidden;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  bottom: 45px;
  right: 45px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
